

/* CSS Custom Properties */
:root {
  --white: #F6F6F6;
  --tan-1: #F4F3E8;
  --tan-2: #B8D9D7;
  --tan-3: #6DB4D4;
  --tan-4: #70AABB;
  --orange: #008BA9;
  --text-light: #347290;
  --text-dark: #103649;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--tan-1); */
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.align-lft {
  text-align: left;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  max-width: 900px;
  margin: 0 auto;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

/* ---- */


/* CategoryList */
.CategoryList{
  border: grey dotted;
}

/* MenuList */

.MenuList{
  border: solid grey;
  display: grid;
  grid-gap: 5px; 
  grid-template-columns: repeat(auto-fill,minmax(360px, 1fr) );
 grid-template-rows: 1fr;
}



/* MenuListItem */
/* .MenuListItem{
  border: dotted grey;
  cursor:pointer;
    min-height: 200px;
    text-align: center;
   background-color: var(--tan-4);
    font-size:3em;
    border-radius:1px;
    transition: all 0.3s linear;
    font-family: Arial, Helvetica, sans-serif;
} */

/* Main */




/* .MenuListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--white);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 4vmin;
}

.MenuListItem .emoji {
  height: 8vw;
  width: 8vw;
  font-size: 4vw;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.MenuListItem .buy {
  display: flex;
  flex-direction: column;
}

.MenuListItem .buy span {
  font-size: 1.7vw;
  text-align: center;
  color: var(--text-light);
}

.MenuListItem .name {
  font-size: 2vw;
  text-align: center;
  color: var(--text-light);
}

 */


 .dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 2rem auto;
  max-width: 90%;
  display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(360px, 1fr) );
    grid-template-rows: 1fr;
    padding: 3vmin;
   
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
  border-radius: 5%;
  opacity: 0.8;
}

.dictionary > .term > dt {
  margin-bottom: 1rem;
}

dt {
  color: var(--text-dark);
  line-height: 1;
}

dt span {
  font-size: 100%;
  font-weight: 300;
}


dd {
  font-size: 92.5%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .term {
  margin-bottom: 1rem;
}


.term img{
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.item-state{
  color: var(--orange);
}
