.main-main{
  margin: 0 auto;
  max-width: 1800px;

    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
}
.main-page{
  /* border: dotted red; */
  height: 100vh;
 
  
}

.main-banner{
  height: 25vh;
  position: relative;
  /* border: dotted green; */
  font-family: 'Shippori Mincho B1', serif;
  color: white;
}
aside{
   /* border: dotted grey; */
  position: relative;
}


@import url('https://fonts.googleapis.com/css2?family=Geo&family=Inter:wght@500;600&family=Poppins:wght@200&family=REM:wght@500&family=Shippori+Mincho+B1&display=swap');





.relative{
    position: relative;
}


