.filter-container {
  margin-left: 2.5em;
  margin-top: 2.5em;
  width: 10.5% !important;
  /* border-right: 1px solid var(--light-purple); */
  padding: 0;
}

.filter-container h1 {
  font-size: 1.4em;
  border-bottom: 1px solid var(--white-line);
  margin-right: 1.2em;
  margin-bottom: 1em;
}

.product-container {
  /* margin-top: 5vmin;
  margin-left: 2.5vmin; */
  margin: 2.5em 1em 0 0em;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.IndexPage {
  background: linear-gradient(to bottom, rgba(154, 128, 199, 0.3), #fff);  
}

#idx-inner {
  margin-top: 0;
}


/* .NewOrderPage {
    height: 100%;
    display: grid;
    grid-template-columns: 1.6fr 3.5fr 3fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
  }
  
  .NewOrderPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
  } */

